In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [17]:
forexData = requests.get("https://assets.ino.com/data/minute/?s=FOREX_EURUSD&b=2020-7-12&f=json")
forexJson = forexData.json()
forexPdDf = pd.DataFrame(forexJson, columns=["time", "open", "high", "low", "close"])
forexPdDf

                time      open      high       low     close
0      1611518400000  1.217130  1.217130  1.217130  1.217130
1      1611518460000  1.217130  1.217130  1.217130  1.217130
2      1611519240000  1.217155  1.217155  1.217155  1.217155
3      1611519300000  1.217130  1.217130  1.217130  1.217130
4      1611520020000  1.217130  1.217130  1.217130  1.217130
...              ...       ...       ...       ...       ...
22177  1613240580000  1.212050  1.212050  1.212050  1.212050
22178  1613242080000  1.212050  1.212050  1.212050  1.212050
22179  1613243580000  1.212050  1.212050  1.212050  1.212050
22180  1613245080000  1.212050  1.212050  1.212050  1.212050
22181  1613246580000  1.212050  1.212050  1.212050  1.212050

[22182 rows x 5 columns]