In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [2]:
forexData = requests.get("https://assets.ino.com/data/minute/?s=FOREX_EURUSD&b=2020-7-12&f=json")
forexJson = forexData.json()
forexPdDf = pd.DataFrame(forexJson, columns=["time", "Open", "High", "Low", "Close"])
forexPdDf

                time      Open      High       Low     Close
0      1612674900000  1.204545  1.204545  1.204545  1.204545
1      1612676400000  1.204545  1.204545  1.204545  1.204545
2      1612677900000  1.204545  1.204545  1.204545  1.204545
3      1612679400000  1.204545  1.204545  1.204545  1.204545
4      1612680900000  1.204545  1.204545  1.204545  1.204545
...              ...       ...       ...       ...       ...
22184  1614423060000  1.207445  1.207445  1.207445  1.207445
22185  1614424620000  1.207445  1.207445  1.207445  1.207445
22186  1614426120000  1.207445  1.207445  1.207445  1.207445
22187  1614427620000  1.207445  1.207445  1.207445  1.207445
22188  1614429120000  1.207445  1.207445  1.207445  1.207445

[22189 rows x 5 columns]