In [25]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import json
import math

In [2]:
symbol="IBM"
timeInterval = "1d"
timeRange = "10y"

In [3]:
def metadata_price_action(ticker, interval, timeRange):
    stockData = requests.get(f"https://query1.finance.yahoo.com/v8/finance/chart/{ticker}?region=US&lang=en-US&includePrePost=false&interval={interval}&useYfid=true&range={timeRange}&corsDomain=finance.yahoo.com&.tsrc=finance")
    stockJson = stockData.json()
    stockResult = stockJson["chart"]["result"][0]
    stockMetadata = stockResult["meta"]
    stockPriceData = pd.DataFrame({"timestamp": stockResult["timestamp"]})
    stockIndicators = pd.DataFrame(stockResult["indicators"]["quote"][0])
    stockDataMerge = pd.concat([stockPriceData, stockIndicators], axis=1)
    return {"metadata": stockMetadata, "price":stockDataMerge}

In [4]:
 def extended_stock_stats(ticker):
    stockData = requests.get(f"https://finance.yahoo.com/quote/{ticker}/key-statistics?p={ticker}")
    soup = BeautifulSoup(stockData.content, 'html.parser')
    job_elems = soup.find_all('section',  {"data-test":"qsp-statistics"})
    datObj={}
    dat=[]
    for job_elem in job_elems:
        for t in job_elem.find_all("tr"):
            if(len(dat)==2):
                head, *tail=np.array(dat)
                datObj[head]=tail[0]
            elif(len(dat)>=2):
                head, *tail=np.array(dat)
                datObj[head]=tail
            dat=[]
            for td in t.find_all("td"):
                dat.append(td.text)
    return datObj

In [13]:
 def basic_stats(ticker):
    statsData = requests.get(f"https://finance.yahoo.com/quote/{ticker}?p={ticker}&.tsrc=fin-srch")
    statsSoup = BeautifulSoup(statsData.content, 'html.parser')
    stats_elem = statsSoup.find('div',id="quote-summary")
    statsObj={}
    stats=[]
    if stats_elem != None:
        for t in stats_elem.find_all("tr"):
            if(len(stats)==2):
                head, *tail=np.array(stats)
                statsObj[head]=tail[0]
            elif(len(stats)>=2):
                head, *tail=np.array(stats)
                statsObj[head]=tail
            stats=[]
            for td in t.find_all("td"):
                stats.append(td.text)
    return statsObj

In [8]:
def current_sp500_symbols():
    sp500 = requests.get("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
    soup = BeautifulSoup(sp500.content, 'html.parser')
    symbols=[]
    symbol_table = soup.find_all('table', id="constituents")
    for sym in symbol_table:
        for tr in sym.find_all("tr"):
            td = tr.find("td")
            if(td != None):
                symbols.append(td.text.strip())
    return symbols

In [31]:
def parse_value(val):
    lastChar = val[-1]
    number = val[0:-1]
    number = number.replace(",","")
    if (lastChar == "M"):
        return float(number) * 1000000
    elif (lastChar == "B"):
        return float(number) * 1000000000
    elif (lastChar == "T"):
        return float(number) * 1000000000000
    else:
        return float(number)

In [9]:
sp500symbols = np.array(current_sp500_symbols())
sp500symbols

array(['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP',
       'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ARE', 'ALXN',
       'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN',
       'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP',
       'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'ANTM', 'AON', 'AOS',
       'APA', 'AAPL', 'AMAT', 'APTV', 'ADM', 'ANET', 'AJG', 'AIZ', 'T',
       'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BLL', 'BAC',
       'BK', 'BAX', 'BDX', 'BRK.B', 'BBY', 'BIO', 'BIIB', 'BLK', 'BA',
       'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BF.B', 'CHRW',
       'COG', 'CDNS', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT',
       'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CERN', 'CF',
       'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS',
       'CSCO', 'C', 'CFG', 'CTXS', 'CLX', 'CME', 'CMS', 'KO', 'CTSH',
       'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'COO', 'CPRT',
       'GLW', 'CTVA', 'COST', 'CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR',
       'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR',
       'DFS', 'DISCA', 'DISCK', 'DISH', 'DG', 'DLTR', 'D', 'DPZ', 'DOV',
       'DOW', 'DTE', 'DUK', 'DRE', 'DD', 'DXC', 'EMN', 'ETN', 'EBAY',
       'ECL', 'EIX', 'EW', 'EA', 'EMR', 'ENPH', 'ETR', 'EOG', 'EFX',
       'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EVRG', 'ES', 'RE', 'EXC',
       'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FB', 'FAST', 'FRT', 'FDX',
       'FIS', 'FITB', 'FE', 'FRC', 'FISV', 'FLT', 'FLIR', 'FLS', 'FMC',
       'F', 'FTNT', 'FTV', 'FBHS', 'FOXA', 'FOX', 'BEN', 'FCX', 'GPS',
       'GRMN', 'IT', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL', 'GPN',
       'GS', 'GWW', 'HAL', 'HBI', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC',
       'HSY', 'HES', 'HPE', 'HLT', 'HFC', 'HOLX', 'HD', 'HON', 'HRL',
       'HST', 'HWM', 'HPQ', 'HUM', 'HBAN', 'HII', 'IEX', 'IDXX', 'INFO',
       'ITW', 'ILMN', 'INCY', 'IR', 'INTC', 'ICE', 'IBM', 'IP', 'IPG',
       'IFF', 'INTU', 'ISRG', 'IVZ', 'IPGP', 'IQV', 'IRM', 'JKHY', 'J',
       'JBHT', 'SJM', 'JNJ', 'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY',
       'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LB', 'LHX',
       'LH', 'LRCX', 'LW', 'LVS', 'LEG', 'LDOS', 'LEN', 'LLY', 'LNC',
       'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LUMN', 'LYB', 'MTB',
       'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MKC',
       'MXIM', 'MCD', 'MCK', 'MDT', 'MRK', 'MET', 'MTD', 'MGM', 'MCHP',
       'MU', 'MSFT', 'MAA', 'MHK', 'TAP', 'MDLZ', 'MNST', 'MCO', 'MS',
       'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM', 'NWSA',
       'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NSC', 'NTRS', 'NOC', 'NLOK',
       'NCLH', 'NOV', 'NRG', 'NUE', 'NVDA', 'NVR', 'ORLY', 'OXY', 'ODFL',
       'OMC', 'OKE', 'ORCL', 'OTIS', 'PCAR', 'PKG', 'PH', 'PAYX', 'PAYC',
       'PYPL', 'PNR', 'PBCT', 'PEP', 'PKI', 'PRGO', 'PFE', 'PM', 'PSX',
       'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR',
       'PLD', 'PRU', 'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'PWR', 'QCOM',
       'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD',
       'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC',
       'SLB', 'STX', 'SEE', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SLG',
       'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STE', 'SYK', 'SIVB',
       'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TGT', 'TEL',
       'FTI', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX',
       'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TWTR', 'TYL', 'TSN',
       'UDR', 'ULTA', 'USB', 'UAA', 'UA', 'UNP', 'UAL', 'UNH', 'UPS',
       'URI', 'UHS', 'UNM', 'VLO', 'VAR', 'VTR', 'VRSN', 'VRSK', 'VZ',
       'VRTX', 'VFC', 'VIAC', 'VTRS', 'V', 'VNT', 'VNO', 'VMC', 'WRB',
       'WAB', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WFC', 'WELL',
       'WST', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW', 'WYNN',
       'XEL', 'XRX', 'XLNX', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS'],
      dtype='<U5')

In [44]:
my_columns = ["Ticker", "Stock Price", "Market Cap", "Number of Shares to Buy"]
dataframe = pd.DataFrame(columns=my_columns)
for sym in sp500symbols:
    if(sym.find(".") > -1):
        sym = sym.replace(".", "-")
    basic = basic_stats(sym)
    marketCap = parse_value(basic["Market Cap"])
    previousClose = parse_value(basic["Previous Close"])
    dataframe = dataframe.append(pd.Series([sym,previousClose,round(marketCap),"N/A"], index=my_columns), ignore_index=True)
    print(sym, round(marketCap), previousClose)
dataframe.to_csv("lastDataframe_bak.csv")
dataframe

MMM 103485000000 177.2
ABT 227270000000 126.8
ABBV 184386000000 103.7
ABMD 14852000000 322.9
ACN 170590000000 258.9
ATVI 80230000000 103.2
ADBE 238795000000 496.6
AMD 113585000000 92.6
AAP 10369000000 154.4
AES 18976000000 28.0
AFL 32490000000 46.8
A 39084000000 126.9
APD 57654000000 257.6
AKAM 16559000000 101.4
ALK 7118000000 57.6
ALB 19202000000 159.8
ARE 23656000000 171.9
ALXN 34800000000 154.5
ALGN 48066000000 599.0
ALLE 10885000000 119.1
LNT 12061000000 48.7
ALL 31767000000 104.4
GOOGL 1415000000000 2088.7
GOOG 1415000000000 2095.8
MO 80655000000 43.3
AMZN 1651000000000 3262.1
AMCR 17963000000 11.3
AEE 18115000000 72.5
AAL 10733000000 16.9
AEP 39021000000 78.9
AXP 104370000000 128.3
AIG 35667000000 41.6
AMT 100921000000 227.8
AWK 29310000000 164.8
AMP 25472000000 214.7
ABC 21531000000 104.5
AME 28010000000 121.6
AMGN 137004000000 235.0
APH 40713000000 132.5
ADI 59393000000 158.8
ANSS 34663000000 396.1
ANTM 72293000000 292.8
AON 52825000000 229.3
AOS 9748000000 61.0
APA 6598000000 16.9
AAPL 2273000000000 135.1
AMAT 107091000000 113.0
APTV 42202000000 153.9
ADM 30986000000 54.9
ANET 24462000000 318.0
AJG 22606000000 116.3
AIZ 7529000000 130.4
T 205229000000 28.6
ATO 11669000000 91.0
ADSK 67097000000 300.2
ADP 71479000000 166.8
AZO 26097000000 1150.4
AVB 25061000000 178.9
AVY 14784000000 173.3
BKR 23500000000 22.5
BLL 29335000000 88.5
BAC 288678000000 32.8
BK 37182000000 42.1
BAX 39767000000 77.8
BDX 74476000000 253.3
BRK-B 569354000000 239.7
BBY 31205000000 119.5
BIO 19771000000 643.8
BIIB 42354000000 278.8
BLK 110278000000 721.4
BA 123001000000 210.6
BKNG 88077000000 2159.2
BWA 10267000000 42.8
BXP 14653000000 94.9
BSX 54369000000 38.8
BMY 134406000000 59.9
AVGO 197793000000 478.3
BR 17146000000 145.3
BF-B 35805000000 76.4
CHRW 12412000000 90.2
COG 7266000000 17.4
CDNS 40635000000 143.9
CPB 14163000000 46.9
COF 54047000000 117.1
CAH 15230000000 52.4
KMX 20334000000 126.8
CCL 22996000000 20.7
CARR 32404000000 37.2
CTLT 21324000000 123.0
CAT 107560000000 198.3
CBOE 9658000000 88.0
CBRE 23928000000 70.3
CDW 22220000000 156.9
CE 15154000000 130.4
CNC 34424000000 59.9
CNP 11648000000 21.2
CERN 22979000000 75.9
CF 9489000000 42.8
SCHW 109344000000 55.9
CHTR 118844000000 618.6
CVX 178160000000 92.0
CMG 42996000000 1543.1
CB 74097000000 165.8
CHD 20349000000 82.4
CI 72544000000 208.4
CINF 14870000000 91.3
CTAS 35966000000 341.0
CSCO 199824000000 47.5
C 132484000000 63.2
CFG 17311000000 39.9
CTXS 16930000000 137.7
CLX 23393000000 184.1
CME 66187000000 182.7
CMS 16291000000 56.5
KO 218068000000 50.3
CTSH 40789000000 76.9
CL 67228000000 78.4
CMCSA 243829000000 53.2
CMA 8679000000 61.4
CAG 16880000000 34.4
COP 63884000000 46.4
ED 23799000000 71.8
STZ 46768000000 236.3
COO 18940000000 385.0
CPRT 28200000000 115.9
GLW 28213000000 36.7
CTVA 33014000000 43.5
COST 156252000000 352.2
CCI 70931000000 162.0
CSX 68732000000 88.7
CMI 36024000000 243.2
CVS 97134000000 73.6
DHI 29889000000 83.4
DHR 174835000000 240.6
DRI 16741000000 128.9
DVA 11430000000 113.3
DE 98414000000 314.4
DAL 27608000000 42.7
XRAY 12097000000 56.2
DVN 13449000000 19.3
DXCM 39679000000 410.2
FANG 10921000000 67.7
DLR 39257000000 144.8
DFS 28772000000 92.7
DISCA 21194000000 45.5
DISCK 21194000000 39.0
DISH 16496000000 31.6
DG 48657000000 200.0
DLTR 25489000000 109.0
D 58633000000 73.0
DPZ 15176000000 385.2
DOV 17686000000 122.1
DOW 43259000000 57.6
DTE 23409000000 121.9
DUK 66104000000 90.4
DRE 15466000000 41.7
DD 38339000000 70.9
DXC 6566000000 25.6
EMN 14797000000 106.4
ETN 49418000000 123.5
EBAY 42875000000 62.3
ECL 62764000000 216.4
EIX 21920000000 58.3
EW 54628000000 88.0
EA 42494000000 147.3
EMR 51201000000 85.1
ENPH 26089000000 199.0
ETR 19000000000 94.6
EOG 35598000000 59.6
EFX 21582000000 176.9
EQIX 63245000000 717.7
EQR 25123000000 67.7
ESS 17563000000 271.6
EL 105291000000 289.7
ETSY 29488000000 226.0
EVRG 12346000000 54.7
ES 29198000000 86.2
RE 9738000000 244.9
EXC 41179000000 42.7
EXPE 21078000000 149.9
EXPD 16348000000 95.8
EXR 15353000000 117.7
XOM 213851000000 49.8
FFIV 12985000000 206.2
FB 770295000000 270.3
FAST 27217000000 47.0
FRT 7854000000 97.9
FDX 69714000000 254.3
FIS 84141000000 135.1
FITB 23172000000 32.2
FE 16951000000 31.1
FRC 26760000000 155.0
FISV 73542000000 108.4
FLT 22113000000 265.5
FLIR 7173000000 54.6
FLS 5186000000 38.9
FMC 13972000000 110.2
F 45556000000 11.4
FTNT 26741000000 163.0
FTV 24167000000 70.5
FBHS 12481000000 90.4
FOXA 18954000000 32.0
FOX 18954000000 30.7
BEN 13959000000 27.2
FCX 45596000000 30.9
GPS 8636000000 23.2
GRMN 24995000000 129.4
IT 16333000000 181.5
GD 47302000000 163.4
GE 102848000000 11.4
GIS 34925000000 56.9
GM 77233000000 53.5
GPC 14331000000 100.5
GILD 83849000000 66.9
GL 9840000000 92.7
GPN 58825000000 199.6
GS 105395000000 302.3
GWW 19543000000 374.1
HAL 17924000000 19.4
HBI 6447000000 18.4
HIG 17785000000 50.3
HAS 12536000000 90.6
HCA 58711000000 175.5
PEAK 16667000000 31.2
HSIC 9917000000 69.6
HSY 31509000000 150.4
HES 18425000000 57.9
HPE 18601000000 14.1
HLT 31113000000 109.5
HFC 5144000000 31.3
HOLX 21381000000 80.0
HD 298767000000 277.0
HON 142842000000 202.1
HRL 26046000000 48.1
HST 10509000000 14.6
HWM 12243000000 28.7
HPQ 35452000000 27.3
HUM 49050000000 381.1
HBAN 14699000000 14.3
HII 7101000000 170.5
IEX 15131000000 198.0
IDXX 46410000000 528.4
INFO 37117000000 93.1
ITW 63614000000 200.9
ILMN 73695000000 451.2
INCY 18538000000 84.9
IR 18343000000 44.0
INTC 251134000000 60.6
ICE 62389000000 111.3
IBM 107640000000 120.9
IP 19332000000 48.1
IPG 9607000000 24.4
IFF 33338000000 136.7
INTU 113452000000 408.8
ISRG 95094000000 798.8
IVZ 10413000000 22.4
IPGP 13479000000 249.7
IQV 36837000000 192.8
IRM 9559000000 33.2
JKHY 11080000000 148.6
J 14947000000 115.0
JBHT 15671000000 147.3
SJM 12844000000 113.9
JNJ 438529000000 166.0
JCI 38490000000 52.8
JPM 430728000000 139.2
JNPR 8326000000 25.7
KSU 19015000000 209.3
K 19722000000 57.0
KEY 18608000000 18.8
KEYS 28560000000 150.3
KMB 44708000000 132.0
KIM 7798000000 17.9
KMI 33604000000 14.6
KLAC 51124000000 324.4
KHC 43269000000 35.5
KR 25848000000 33.4
LB 13132000000 48.2
LHX 39064000000 187.5
LH 23230000000 237.2
LRCX 83767000000 572.2
LW 11293000000 77.2
LVS 42790000000 55.0
LEG 5612000000 42.8
LDOS 15342000000 109.7
LEN 28278000000 94.5
LLY 198290000000 202.5
LNC 10117000000 51.8
LIN 132621000000 253.1
LYV 17963000000 81.0
LKQ 11236000000 37.3
LMT 94599000000 339.1
L 12984000000 48.2
LOW 129809000000 175.7
LUMN 12924000000 11.5
LYB 32103000000 94.8
MTB 18247000000 142.2
MRO 7081000000 8.7
MPC 32832000000 49.7
MKTX 20977000000 545.7
MAR 41995000000 126.6
MMC 57302000000 112.8
MLM 20602000000 318.5
MAS 14130000000 55.0
MA 339109000000 342.8
MKC 23920000000 89.8
MXIM 25791000000 94.9
MCD 159379000000 214.2
MCK 29007000000 181.7
MDT 161172000000 118.7
MRK 189752000000 74.7
MET 49708000000 55.3
MTD 28573000000 1202.0
MGM 17747000000 35.3
MCHP 42961000000 157.6
MU 98454000000 86.4
MSFT 1848000000000 244.4
MAA 15800000000 137.9
MHK 12052000000 159.7
TAP 9569000000 44.5
MDLZ 77934000000 55.6
MNST 48426000000 89.9
MCO 52334000000 278.6
MS 134984000000 73.7
MOS 11096000000 27.8
MSI 30696000000 181.7
MSCI 35912000000 426.8
NDAQ 23292000000 142.3
NTAP 15606000000 69.1
NFLX 246480000000 557.5
NWL 10264000000 26.0
NEM 47350000000 58.3
NWSA 13968000000 23.0
NWS 13968000000 22.9
NEE 162857000000 83.9
NLSN 8506000000 23.1
NKE 224051000000 143.5
NI 8634000000 22.7
NSC 64197000000 248.9
NTRS 20441000000 96.9
NOC 49575000000 299.6
NLOK 12493000000 21.2
NCLH 7430000000 23.7
NOV 5412000000 13.6
NRG 10511000000 42.8
NUE 17011000000 54.8
NVDA 370441000000 610.0
NVR 17369000000 4708.3
ORLY 30497000000 433.1
OXY 23643000000 24.9
ODFL 24899000000 208.0
OMC 14242000000 66.0
OKE 20047000000 44.2
ORCL 189927000000 62.7
OTIS 27725000000 63.4
PCAR 33967000000 98.6
PKG 12630000000 131.1
PH 35657000000 273.0
PAYX 32240000000 90.2
PAYC 23800000000 407.3
PYPL 349445000000 285.0
PNR 8921000000 54.2
PBCT 6434000000 15.0
PEP 184688000000 134.9
PKI 16860000000 148.7
PRGO 6139000000 45.7
PFE 192988000000 34.4
PM 134128000000 85.3
PSX 33734000000 77.2
PNW 8579000000 76.6
PXD 28602000000 129.8
PNC 68802000000 159.3
POOL 13567000000 329.8
PPG 32726000000 138.0
PPL 21535000000 27.9
PFG 14794000000 54.0
PG 314262000000 128.3
PGR 50485000000 86.3
PLD 79622000000 107.7
PRU 32053000000 80.1
PEG 29476000000 58.5
PSA 40534000000 233.0
PHM 12891000000 49.5
PVH 6836000000 97.7
QRVO 19934000000 174.6
PWR 10813000000 77.0
QCOM 168105000000 145.5
DGX 16761000000 125.0
RL 8094000000 113.4
RJF 15717000000 113.4
RTX 110329000000 72.3
O 23321000000 62.9
REG 8929000000 51.2
REGN 52025000000 490.5
RF 18786000000 19.3
RSG 29087000000 91.2
RMD 29182000000 200.5
RHI 8409000000 73.0
ROK 28944000000 245.7
ROL 18480000000 37.6
ROP 41531000000 400.0
ROST 42451000000 121.8
RCL 16054000000 67.9
SPGI 81706000000 339.3
CRM 220596000000 241.2
SBAC 29309000000 265.0
SLB 37273000000 26.3
STX 17091000000 72.4
SEE 6841000000 43.5
SRE 35915000000 125.8
NOW 115952000000 594.4
SHW 65489000000 719.2
SPG 35852000000 109.2
SWKS 31249000000 188.2
SLG 4452000000 64.6
SNA 10296000000 189.8
SO 63480000000 60.6
LUV 30325000000 51.4
SWK 28130000000 174.7
SBUX 123970000000 105.8
STT 25957000000 72.9
STE 15620000000 182.3
SYK 93354000000 245.3
SIVB 26282000000 500.3
SYF 21691000000 37.2
SNPS 44699000000 286.7
SYY 38914000000 76.2
TMUS 153587000000 124.4
TROW 37199000000 163.2
TTWO 23019000000 197.1
TPR 10644000000 39.1
TGT 95863000000 190.4
TEL 42939000000 127.6
FTI 4763000000 10.3
TDY 14335000000 388.9
TFX 18915000000 406.5
TER 23648000000 135.0
TSLA 783356000000 811.6
TXN 165312000000 179.2
TXT 11647000000 50.6
TMO 201271000000 494.0
TJX 81643000000 69.0
TSCO 18631000000 157.3
TT 35986000000 150.8
TDG 31528000000 575.0
TRV 36813000000 146.3
TRMB 18506000000 73.0
TFC 72857000000 52.7
TWTR 57186000000 68.5
TYL 19147000000 466.0
TSN 23912000000 65.3
UDR 12668000000 43.3
ULTA 18022000000 320.8
USB 71799000000 47.2
UAA 9353000000 22.9
UA 9353000000 19.2
UNP 142781000000 207.2
UAL 13701000000 43.4
UNH 311441000000 333.0
UPS 141332000000 162.3
URI 20665000000 279.8
UHS 10986000000 130.0
UNM 5039000000 24.2
VLO 26400000000 64.5
VAR 16175000000 176.0
VTR 18998000000 50.7
VRSN 22965000000 204.5
VRSK 30811000000 189.3
VZ 224280000000 54.6
VRTX 55626000000 210.4
VFC 31145000000 80.4
VIAC 35989000000 57.2
VTRS 22168000000 18.2
V 462930000000 210.6
VNT 5747000000 33.9
VNO 7343000000 39.0
VMC 21798000000 160.0
WRB 12071000000 68.5
WAB 15327000000 81.0
WMT 408748000000 144.0
WBA 43530000000 50.1
DIS 340670000000 190.9
WM 47860000000 113.2
WAT 17618000000 282.8
WEC 26197000000 83.9
WFC 138949000000 32.7
WELL 28178000000 66.4
WST 21735000000 291.0
WDC 20071000000 63.9
WU 9865000000 23.5
WRK 11658000000 43.0
WY 26155000000 34.2
WHR 12591000000 196.6
WMB 27718000000 22.2
WLTW 29329000000 228.4
WYNN 13510000000 114.5
XEL 33066000000 61.5
XRX 4704000000 23.5
XLNX 35749000000 144.2
XYL 17881000000 98.9
YUM 31641000000 105.4
ZBRA 25544000000 470.0
ZBH 33451000000 162.2
ZION 8136000000 48.9
ZTS 79232000000 164.4

    Ticker  Stock Price    Market Cap Number of Shares to Buy
0      MMM        177.2  103485000000                     N/A
1      ABT        126.8  227270000000                     N/A
2     ABBV        103.7  184386000000                     N/A
3     ABMD        322.9   14852000000                     N/A
4      ACN        258.9  170590000000                     N/A
..     ...          ...           ...                     ...
500    YUM        105.4   31641000000                     N/A
501   ZBRA        470.0   25544000000                     N/A
502    ZBH        162.2   33451000000                     N/A
503   ZION         48.9    8136000000                     N/A
504    ZTS        164.4   79232000000                     N/A

[505 rows x 4 columns]

In [54]:
dataframe.to_csv("lastDataframe.csv")

In [51]:
portfolio_size = input("How large is your portfolio?")

How large is your portfolio? 1000000

In [52]:
portfolio_size = float(portfolio_size)
portfolio_size

1000000.0

In [55]:
position_size = portfolio_size / len(dataframe.index)
print(position_size)
for i in range(0,len(dataframe.index)):
    dataframe.loc[i,"Number of Shares to Buy"] = math.floor(position_size/dataframe.loc[i,"Stock Price"])

dataframe.to_csv("lastDataframeWithSharesToBuy.csv")
dataframe

1980.1980198019803

    Ticker  Stock Price    Market Cap Number of Shares to Buy
0      MMM        177.2  103485000000                      11
1      ABT        126.8  227270000000                      15
2     ABBV        103.7  184386000000                      19
3     ABMD        322.9   14852000000                       6
4      ACN        258.9  170590000000                       7
..     ...          ...           ...                     ...
500    YUM        105.4   31641000000                      18
501   ZBRA        470.0   25544000000                       4
502    ZBH        162.2   33451000000                      12
503   ZION         48.9    8136000000                      40
504    ZTS        164.4   79232000000                      12

[505 rows x 4 columns]

In [8]:
metadataAndPrice = metadata_price_action(symbol, timeInterval, timeRange)
metadata = metadataAndPrice["metadata"]
metadata

{'currency': 'USD',
 'symbol': 'IBM',
 'exchangeName': 'NYQ',
 'instrumentType': 'EQUITY',
 'firstTradeDate': -252322200,
 'regularMarketTime': 1613163602,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 120.8,
 'chartPreviousClose': 163.85,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1613120400,
   'end': 1613140200,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1613140200,
   'end': 1613163600,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1613163600,
   'end': 1613178000,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '10y',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [9]:
price = metadataAndPrice["price"]
price

       timestamp         low        high        open       close   volume
0     1297693800  162.850006  164.380005  164.179993  163.220001  4129800
1     1297780200  162.520004  163.570007  162.889999  162.839996  3768700
2     1297866600  162.750000  163.600006  163.330002  163.399994  3216000
3     1297953000  162.850006  164.669998  163.300003  164.240005  3230500
4     1298039400  164.100006  164.839996  164.460007  164.839996  4245000
...          ...         ...         ...         ...         ...      ...
2512  1612794600  122.400002  123.980003  122.620003  123.610001  5888000
2513  1612881000  121.050003  122.599998  121.900002  122.099998  4717000
2514  1612967400  121.209999  123.410004  123.029999  122.239998  4866800
2515  1613053800  120.629997  122.209999  122.000000  120.910004  5380600
2516  1613140200  120.089996  121.360001  121.000000  120.800003  3868900

[2517 rows x 6 columns]

In [10]:
basicStats = basic_stats(symbol)
basicStats

{'Previous Close': '120.91',
 'Open': '121.00',
 'Bid': '120.86 x 1000',
 'Ask': '120.91 x 800',
 "Day's Range": '120.09 - 121.36',
 '52 Week Range': '90.56 - 151.89',
 'Volume': '3,879,636',
 'Avg. Volume': '6,234,309',
 'Market Cap': '107.64B',
 'Beta (5Y Monthly)': '1.25',
 'PE Ratio (TTM)': '19.39',
 'EPS (TTM)': '6.23',
 'Earnings Date': 'Apr 19, 2021 - Apr 23, 2021',
 'Forward Dividend & Yield': '6.52 (5.40%)',
 'Ex-Dividend Date': 'Feb 09, 2021'}

In [11]:
extStats = extended_stock_stats(symbol)
extStats

{'Market Cap (intraday) 5': ['107.64B',
  '112.17B',
  '108.41B',
  '107.56B',
  '98.49B',
  '118.91B'],
 'Enterprise Value 3': ['160.30B',
  '166.96B',
  '164.08B',
  '165.14B',
  '157.78B',
  '179.58B'],
 'Trailing P/E ': ['19.71', '14.26', '13.79', '11.96', '10.49', '15.57'],
 'Forward P/E 1': ['10.95', '10.75', '9.98', '11.15', '8.31', '9.92'],
 'PEG Ratio (5 yr expected) 1': ['1.25',
  '9.35',
  '7.73',
  '9.69',
  '3.59',
  '22.56'],
 'Price/Sales (ttm)': ['1.47', '1.50', '1.44', '1.41', '1.28', '1.56'],
 'Price/Book (mrq)': ['5.23', '5.29', '5.28', '5.38', '4.73', '6.62'],
 'Enterprise Value/Revenue 3': ['2.18',
  '8.20',
  '9.34',
  '9.11',
  '8.98',
  '8.25'],
 'Enterprise Value/EBITDA 6': ['12.70',
  '50.52',
  '42.81',
  '46.22',
  '82.57',
  '29.95'],
 'Beta (5Y Monthly) ': '1.25',
 '52-Week Change 3': '-20.05%',
 'S&P500 52-Week Change 3': '16.75%',
 '52 Week High 3': '151.89',
 '52 Week Low 3': '90.56',
 '50-Day Moving Average 3': '124.29',
 '200-Day Moving Average 3': '122.44',
 'Avg Vol (3 month) 3': '6.23M',
 'Avg Vol (10 day) 3': '4.84M',
 'Shares Outstanding 5': '891.06M',
 'Float ': '891.01M',
 '% Held by Insiders 1': '0.13%',
 '% Held by Institutions 1': '58.58%',
 'Shares Short (Jan 28, 2021) 4': '26.83M',
 'Short Ratio (Jan 28, 2021) 4': '3.16',
 'Short % of Float (Jan 28, 2021) 4': '3.01%',
 'Short % of Shares Outstanding (Jan 28, 2021) 4': '3.01%',
 'Shares Short (prior month Dec 30, 2020) 4': '24.59M',
 'Forward Annual Dividend Rate 4': '6.52',
 'Forward Annual Dividend Yield 4': '5.40%',
 'Trailing Annual Dividend Rate 3': '6.51',
 'Trailing Annual Dividend Yield 3': '5.38%',
 '5 Year Average Dividend Yield 4': '4.31',
 'Payout Ratio 4': '106.20%',
 'Dividend Date 3': 'Mar 09, 2021',
 'Ex-Dividend Date 4': 'Feb 08, 2021',
 'Last Split Factor 2': '2:1',
 'Last Split Date 3': 'May 26, 1999',
 'Fiscal Year Ends ': 'Dec 30, 2020',
 'Most Recent Quarter (mrq)': 'Dec 30, 2020',
 'Profit Margin ': '7.59%',
 'Operating Margin (ttm)': '9.26%',
 'Return on Assets (ttm)': '2.76%',
 'Return on Equity (ttm)': '26.38%',
 'Revenue (ttm)': '73.62B',
 'Revenue Per Share (ttm)': '82.69',
 'Quarterly Revenue Growth (yoy)': '-6.50%',
 'Gross Profit (ttm)': '35.58B',
 'EBITDA ': '13.51B',
 'Net Income Avi to Common (ttm)': '5.5B',
 'Diluted EPS (ttm)': '6.23',
 'Quarterly Earnings Growth (yoy)': '-63.10%',
 'Total Cash (mrq)': '13.81B',
 'Total Cash Per Share (mrq)': '15.47',
 'Total Debt (mrq)': '66.47B',
 'Total Debt/Equity (mrq)': '320.70',
 'Current Ratio (mrq)': '0.98',
 'Book Value Per Share (mrq)': '23.08',
 'Operating Cash Flow (ttm)': '18.2B'}