In [39]:
from fetchData import metadata_price_action, extended_stock_stats, basic_stats, current_sp500_symbols, parse_value

In [30]:
symbol="AMD"
timeInterval = "1m"
longTimeInterval = "1h"
timeRange = "5d"

In [31]:
metadataAndPrice = metadata_price_action(symbol, timeInterval, timeRange)
metadata = metadataAndPrice["metadata"]
metadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [32]:
longMetadataAndPrice = metadata_price_action(symbol, longTimeInterval, timeRange)
longMetadata = metadataAndPrice["metadata"]
longMetadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [33]:
price = metadataAndPrice["price"]
price.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
price

       timestamp      Close       Open       High     Volume        Low
0     1614004200  87.932999  88.150002  88.190002  87.620003  1269614.0
1     1614004260  87.800003  87.977997  88.040001  87.690002   233271.0
2     1614004320  88.029999  87.809998  88.150002  87.709999   124537.0
3     1614004380  87.870003  87.839996  87.870003  87.839996   190475.0
4     1614004440  87.695000  87.750000  87.750000  87.620003   144198.0
...          ...        ...        ...        ...        ...        ...
1945  1614372900  84.870003  84.870003  84.970001  84.760002   191672.0
1946  1614372960  84.800003  84.849998  84.910004  84.750000   268136.0
1947  1614373020  84.800003  84.790001  84.830002  84.739502   180173.0
1948  1614373080  84.849998  84.809998  84.879997  84.750000   238418.0
1949  1614373140  84.510002  84.849998  84.849998  84.489998   544564.0

[1950 rows x 6 columns]

In [34]:
longPrice = longMetadataAndPrice["price"]
longPrice.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
longPrice

     timestamp      Close       Open       High     Volume       Low
0   1614004200  87.934998  87.500000  88.150002  88.300003   9546743
1   1614007800  87.080002  86.840202  87.919998  88.099998   6186931
2   1614011400  86.771599  86.699997  87.070000  87.510002   3705571
3   1614015000  86.625000  86.559998  86.779999  86.980003   3324409
4   1614018600  86.610100  86.485001  86.620003  86.889900   2838690
5   1614022200  85.419998  85.410004  86.614998  86.660004   4924822
6   1614025800  85.389999  85.209999  85.425003  85.620003   4916859
7   1614090600  82.970001  79.370003  83.400002  83.410004  18190657
8   1614094200  83.208900  82.420700  82.961700  84.099998   8726031
9   1614097800  83.070000  82.220001  83.209999  83.540001   5134626
10  1614101400  83.320000  82.059998  83.051003  83.360001   5113282
11  1614105000  83.635002  83.050003  83.330002  83.720001   3298938
12  1614108600  85.000000  83.160004  83.635597  85.080002   4906956
13  1614112200  84.739998  84.519997  84.995003  85.110001   3389971
14  1614177000  83.199898  82.809998  84.330002  85.000000  11246829
15  1614180600  84.625000  83.010002  83.199997  84.720001   5592433
16  1614184200  85.489998  84.110001  84.629700  85.526703   4934111
17  1614187800  86.074997  85.449997  85.500000  86.269997   6127003
18  1614191400  86.169998  85.879997  86.070000  86.449997   3793476
19  1614195000  86.250000  85.940002  86.160004  86.459999   3466335
20  1614198600  86.940002  86.239998  86.260002  87.089996   3972437
21  1614263400  85.230003  84.879997  86.500000  87.089996  11318899
22  1614267000  84.980003  84.379997  85.220001  85.540001   7184764
23  1614270600  82.980003  82.889999  84.970001  85.019997   8188043
24  1614274200  83.120003  81.919998  82.950203  83.220001   8975436
25  1614277800  83.679901  82.540001  83.120003  83.731697   5715015
26  1614281400  82.269997  82.199997  83.669998  83.709999   5568661
27  1614285000  82.394997  81.919998  82.269997  82.970001   5753650
28  1614349800  83.000000  82.910004  83.565002  85.219200  12429454
29  1614353400  84.684998  82.980003  82.989998  85.160004   7548466
30  1614357000  85.290001  84.629997  84.699997  85.589996   4897340
31  1614360600  85.050003  84.339996  85.300003  85.570000   4812721
32  1614364200  84.345596  83.970001  85.059998  85.120003   4388291
33  1614367800  84.370003  84.250000  84.330002  85.209999   4404485
34  1614371400  84.510002  84.230003  84.389999  85.294998   4716065

In [40]:
basicStats = basic_stats(symbol)
basicStats

NameError: name 'BeautifulSoup' is not defined

In [38]:
extStats = extended_stock_stats(symbol)
extStats

NameError: name 'BeautifulSoup' is not defined