In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
from scipy import stats
import json
import math

In [2]:
symbol="AMD"
timeInterval = "1m"
longTimeInterval = "1h"
timeRange = "5d"

In [3]:
def metadata_price_action(ticker, interval, timeRange):
    stockData = requests.get(f"https://query1.finance.yahoo.com/v8/finance/chart/{ticker}?region=US&lang=en-US&includePrePost=false&interval={interval}&useYfid=true&range={timeRange}&corsDomain=finance.yahoo.com&.tsrc=finance")
    stockJson = stockData.json()
    stockResult = stockJson["chart"]["result"][0]
    stockMetadata = stockResult["meta"]
    stockPriceData = pd.DataFrame({"timestamp": stockResult["timestamp"]})
    stockIndicators = pd.DataFrame(stockResult["indicators"]["quote"][0])
    stockDataMerge = pd.concat([stockPriceData, stockIndicators], axis=1)
    return {"metadata": stockMetadata, "price":stockDataMerge}

In [4]:
 def extended_stock_stats(ticker):
    stockData = requests.get(f"https://finance.yahoo.com/quote/{ticker}/key-statistics?p={ticker}")
    soup = BeautifulSoup(stockData.content, 'html.parser')
    job_elems = soup.find_all('section',  {"data-test":"qsp-statistics"})
    datObj={}
    dat=[]
    for job_elem in job_elems:
        for t in job_elem.find_all("tr"):
            if(len(dat)==2):
                head, *tail=np.array(dat)
                datObj[head]=tail[0]
            elif(len(dat)>=2):
                head, *tail=np.array(dat)
                datObj[head]=tail
            dat=[]
            for td in t.find_all("td"):
                dat.append(td.text)
    return datObj

In [5]:
def basic_stats(ticker):
    statsData = requests.get(f"https://finance.yahoo.com/quote/{ticker}?p={ticker}&.tsrc=fin-srch")
    statsSoup = BeautifulSoup(statsData.content, 'html.parser')
    stats_elem = statsSoup.find('div',id="quote-summary")
    statsObj={}
    stats=[]
    if stats_elem != None:
        for t in stats_elem.find_all("tr"):
            if(len(stats)==2):
                head, *tail=np.array(stats)
                statsObj[head]=tail[0]
            elif(len(stats)>=2):
                head, *tail=np.array(stats)
                statsObj[head]=tail
            stats=[]
            for td in t.find_all("td"):
                stats.append(td.text)
    return statsObj

In [6]:
def current_sp500_symbols():
    sp500 = requests.get("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
    soup = BeautifulSoup(sp500.content, 'html.parser')
    symbols=[]
    symbol_table = soup.find_all('table', id="constituents")
    for sym in symbol_table:
        for tr in sym.find_all("tr"):
            td = tr.find("td")
            if(td != None):
                symbols.append(td.text.strip())
    return symbols

In [7]:
def parse_value(val):
    lastChar = val[-1]
    number = val[0:-1]
    number = number.replace(",","")
    if(lastChar == "A"):
        return None
    elif (lastChar == "M"):
        return float(number) * 1000000
    elif (lastChar == "B"):
        return float(number) * 1000000000
    elif (lastChar == "T"):
        return float(number) * 1000000000000
    elif (lastChar == "%"):
        return float(number) / 100
    else:
        return float(number)

In [8]:
metadataAndPrice = metadata_price_action(symbol, timeInterval, timeRange)
metadata = metadataAndPrice["metadata"]
metadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [9]:
longMetadataAndPrice = metadata_price_action(symbol, longTimeInterval, timeRange)
longMetadata = metadataAndPrice["metadata"]
longMetadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [15]:
price = metadataAndPrice["price"]
price.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
price

       timestamp      Close       Open       High     Volume        Low
0     1614004200  88.150002  1269614.0  87.932999  87.620003  88.190002
1     1614004260  87.977997   233271.0  87.800003  87.690002  88.040001
2     1614004320  87.809998   124537.0  88.029999  87.709999  88.150002
3     1614004380  87.839996   190475.0  87.870003  87.839996  87.870003
4     1614004440  87.750000   144198.0  87.695000  87.620003  87.750000
...          ...        ...        ...        ...        ...        ...
1945  1614372900  84.870003   191672.0  84.870003  84.760002  84.970001
1946  1614372960  84.849998   268136.0  84.800003  84.750000  84.910004
1947  1614373020  84.790001   180173.0  84.800003  84.739502  84.830002
1948  1614373080  84.809998   238418.0  84.849998  84.750000  84.879997
1949  1614373140  84.849998   544564.0  84.510002  84.489998  84.849998

[1950 rows x 6 columns]

In [14]:
longPrice = longMetadataAndPrice["price"]
longPrice.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
longPrice

     timestamp      Close       Open       High    Volume        Low
0   1614004200  87.934998  88.150002  88.300003   9546743  87.500000
1   1614007800  87.080002  87.919998  88.099998   6186931  86.840202
2   1614011400  86.771599  87.070000  87.510002   3705571  86.699997
3   1614015000  86.625000  86.779999  86.980003   3324409  86.559998
4   1614018600  86.610100  86.620003  86.889900   2838690  86.485001
5   1614022200  85.419998  86.614998  86.660004   4924822  85.410004
6   1614025800  85.389999  85.425003  85.620003   4916859  85.209999
7   1614090600  82.970001  83.400002  83.410004  18190657  79.370003
8   1614094200  83.208900  82.961700  84.099998   8726031  82.420700
9   1614097800  83.070000  83.209999  83.540001   5134626  82.220001
10  1614101400  83.320000  83.051003  83.360001   5113282  82.059998
11  1614105000  83.635002  83.330002  83.720001   3298938  83.050003
12  1614108600  85.000000  83.635597  85.080002   4906956  83.160004
13  1614112200  84.739998  84.995003  85.110001   3389971  84.519997
14  1614177000  83.199898  84.330002  85.000000  11246829  82.809998
15  1614180600  84.625000  83.199997  84.720001   5592433  83.010002
16  1614184200  85.489998  84.629700  85.526703   4934111  84.110001
17  1614187800  86.074997  85.500000  86.269997   6127003  85.449997
18  1614191400  86.169998  86.070000  86.449997   3793476  85.879997
19  1614195000  86.250000  86.160004  86.459999   3466335  85.940002
20  1614198600  86.940002  86.260002  87.089996   3972437  86.239998
21  1614263400  85.230003  86.500000  87.089996  11318899  84.879997
22  1614267000  84.980003  85.220001  85.540001   7184764  84.379997
23  1614270600  82.980003  84.970001  85.019997   8188043  82.889999
24  1614274200  83.120003  82.950203  83.220001   8975436  81.919998
25  1614277800  83.679901  83.120003  83.731697   5715015  82.540001
26  1614281400  82.269997  83.669998  83.709999   5568661  82.199997
27  1614285000  82.394997  82.269997  82.970001   5753650  81.919998
28  1614349800  83.000000  83.565002  85.219200  12429454  82.910004
29  1614353400  84.684998  82.989998  85.160004   7548466  82.980003
30  1614357000  85.290001  84.699997  85.589996   4897340  84.629997
31  1614360600  85.050003  85.300003  85.570000   4812721  84.339996
32  1614364200  84.345596  85.059998  85.120003   4388291  83.970001
33  1614367800  84.370003  84.330002  85.209999   4404485  84.250000
34  1614371400  84.510002  84.389999  85.294998   4716065  84.230003

In [12]:
basicStats = basic_stats(symbol)
basicStats

{'Previous Close': '82.42',
 'Open': '83.57',
 'Bid': '84.36 x 900',
 'Ask': '84.45 x 800',
 "Day's Range": '82.91 - 85.59',
 '52 Week Range': '36.75 - 99.23',
 'Volume': '46,565,503',
 'Avg. Volume': '43,271,044',
 'Market Cap': '102.369B',
 'Beta (5Y Monthly)': '2.20',
 'PE Ratio (TTM)': '40.94',
 'EPS (TTM)': '2.06',
 'Earnings Date': 'Apr 26, 2021 - Apr 30, 2021',
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Ex-Dividend Date': 'Apr 27, 1995'}

In [13]:
extStats = extended_stock_stats(symbol)
extStats

{'Market Cap (intraday) 5': ['102.65B',
  '111.16B',
  '98.55B',
  '61.76B',
  '53.26B',
  '53.66B'],
 'Enterprise Value 3': ['100.89B',
  '109.97B',
  '97.67B',
  '61.08B',
  '52.48B',
  '53.56B'],
 'Trailing P/E ': ['41.14', '123.93', '157.67', '122.35', '151.60', '241.37'],
 'Forward P/E 1': ['44.44', '51.02', '49.26', '52.63', '39.84', '43.48'],
 'PEG Ratio (5 yr expected) 1': ['1.58',
  '1.13',
  '1.42',
  '1.55',
  '1.66',
  '1.55'],
 'Price/Sales (ttm)': ['10.48', '12.68', '12.67', '8.37', '7.57', '8.38'],
 'Price/Book (mrq)': ['17.59', '28.72', '29.82', '20.34', '18.84', '24.66'],
 'Enterprise Value/Revenue 3': ['10.33',
  '33.90',
  '34.87',
  '31.61',
  '29.39',
  '25.18'],
 'Enterprise Value/EBITDA 6': ['60.20',
  '167.63',
  '193.41',
  '238.59',
  '202.63',
  '180.94'],
 'Beta (5Y Monthly) ': '2.20',
 '52-Week Change 3': '81.22%',
 'S&P500 52-Week Change 3': '16.75%',
 '52 Week High 3': '99.23',
 '52 Week Low 3': '36.75',
 '50-Day Moving Average 3': '90.20',
 '200-Day Moving Average 3': '86.03',
 'Avg Vol (3 month) 3': '43.27M',
 'Avg Vol (10 day) 3': '39.26M',
 'Shares Outstanding 5': '1.21B',
 'Float ': '1.2B',
 '% Held by Insiders 1': '0.62%',
 '% Held by Institutions 1': '73.87%',
 'Shares Short (Feb 11, 2021) 4': '80.45M',
 'Short Ratio (Feb 11, 2021) 4': '1.68',
 'Short % of Float (Feb 11, 2021) 4': '6.68%',
 'Short % of Shares Outstanding (Feb 11, 2021) 4': '6.64%',
 'Shares Short (prior month Jan 14, 2021) 4': '71.35M',
 'Forward Annual Dividend Rate 4': 'N/A',
 'Forward Annual Dividend Yield 4': 'N/A',
 'Trailing Annual Dividend Rate 3': 'N/A',
 'Trailing Annual Dividend Yield 3': 'N/A',
 '5 Year Average Dividend Yield 4': 'N/A',
 'Payout Ratio 4': '0.00%',
 'Dividend Date 3': 'N/A',
 'Ex-Dividend Date 4': 'Apr 26, 1995',
 'Last Split Factor 2': '2:1',
 'Last Split Date 3': 'Aug 21, 2000',
 'Fiscal Year Ends ': 'Dec 25, 2020',
 'Most Recent Quarter (mrq)': 'Dec 25, 2020',
 'Profit Margin ': '25.50%',
 'Operating Margin (ttm)': '14.02%',
 'Return on Assets (ttm)': '11.42%',
 'Return on Equity (ttm)': '57.48%',
 'Revenue (ttm)': '9.76B',
 'Revenue Per Share (ttm)': '8.25',
 'Quarterly Revenue Growth (yoy)': '52.50%',
 'Gross Profit (ttm)': '4.35B',
 'EBITDA ': '1.68B',
 'Net Income Avi to Common (ttm)': '2.49B',
 'Diluted EPS (ttm)': '2.06',
 'Quarterly Earnings Growth (yoy)': '947.60%',
 'Total Cash (mrq)': '2.29B',
 'Total Cash Per Share (mrq)': '1.89',
 'Total Debt (mrq)': '572M',
 'Total Debt/Equity (mrq)': '9.80',
 'Current Ratio (mrq)': '2.54',
 'Book Value Per Share (mrq)': '4.82',
 'Operating Cash Flow (ttm)': '1.07B'}