In [1]:
from fetchYahooStockData import metadata_price_action, extended_stock_stats, basic_stats, current_sp500_symbols, parse_value

In [2]:
symbol="AMD"
timeInterval = "1m"
longTimeInterval = "1h"
timeRange = "5d"

In [3]:
metadataAndPrice = metadata_price_action(symbol, timeInterval, timeRange)
metadata = metadataAndPrice["metadata"]
metadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [4]:
longMetadataAndPrice = metadata_price_action(symbol, longTimeInterval, timeRange)
longMetadata = metadataAndPrice["metadata"]
longMetadata

{'currency': 'USD',
 'symbol': 'AMD',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 322151400,
 'regularMarketTime': 1614373203,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 84.51,
 'chartPreviousClose': 89.58,
 'previousClose': 82.42,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1614330000,
   'end': 1614349800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1614349800,
   'end': 1614373200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1614373200,
   'end': 1614387600,
   'gmtoffset': -18000}},
 'tradingPeriods': [[{'timezone': 'EST',
    'start': 1614004200,
    'end': 1614027600,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614090600,
    'end': 1614114000,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614177000,
    'end': 1614200400,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614263400,
    'end': 1614286800,
    'gmtoffset': -18000}],
  [{'timezone': 'EST',
    'start': 1614349800,
    'end': 1614373200,
    'gmtoffset': -18000}]],
 'dataGranularity': '1m',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [5]:
price = metadataAndPrice["price"]
price.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
price

       timestamp      Close       Open       High     Volume        Low
0     1614004200  88.150002  87.932999  1269614.0  88.190002  87.620003
1     1614004260  87.977997  87.800003   233271.0  88.040001  87.690002
2     1614004320  87.809998  88.029999   124537.0  88.150002  87.709999
3     1614004380  87.839996  87.870003   190475.0  87.870003  87.839996
4     1614004440  87.750000  87.695000   144198.0  87.750000  87.620003
...          ...        ...        ...        ...        ...        ...
1945  1614372900  84.870003  84.870003   191672.0  84.970001  84.760002
1946  1614372960  84.849998  84.800003   268136.0  84.910004  84.750000
1947  1614373020  84.790001  84.800003   180173.0  84.830002  84.739502
1948  1614373080  84.809998  84.849998   238418.0  84.879997  84.750000
1949  1614373140  84.849998  84.510002   544564.0  84.849998  84.489998

[1950 rows x 6 columns]

In [6]:
longPrice = longMetadataAndPrice["price"]
longPrice.columns = ["timestamp", "Close", "Open", "High", "Volume", "Low"]
longPrice

     timestamp      Close      Open       High     Volume        Low
0   1614004200  87.934998   9546743  88.300003  88.150002  87.500000
1   1614007800  87.080002   6186931  88.099998  87.919998  86.840202
2   1614011400  86.771599   3705571  87.510002  87.070000  86.699997
3   1614015000  86.625000   3324409  86.980003  86.779999  86.559998
4   1614018600  86.610100   2838690  86.889900  86.620003  86.485001
5   1614022200  85.419998   4924822  86.660004  86.614998  85.410004
6   1614025800  85.389999   4916859  85.620003  85.425003  85.209999
7   1614090600  82.970001  18190657  83.410004  83.400002  79.370003
8   1614094200  83.208900   8726031  84.099998  82.961700  82.420700
9   1614097800  83.070000   5134626  83.540001  83.209999  82.220001
10  1614101400  83.320000   5113282  83.360001  83.051003  82.059998
11  1614105000  83.635002   3298938  83.720001  83.330002  83.050003
12  1614108600  85.000000   4906956  85.080002  83.635597  83.160004
13  1614112200  84.739998   3389971  85.110001  84.995003  84.519997
14  1614177000  83.199898  11246829  85.000000  84.330002  82.809998
15  1614180600  84.625000   5592433  84.720001  83.199997  83.010002
16  1614184200  85.489998   4934111  85.526703  84.629700  84.110001
17  1614187800  86.074997   6127003  86.269997  85.500000  85.449997
18  1614191400  86.169998   3793476  86.449997  86.070000  85.879997
19  1614195000  86.250000   3466335  86.459999  86.160004  85.940002
20  1614198600  86.940002   3972437  87.089996  86.260002  86.239998
21  1614263400  85.230003  11318899  87.089996  86.500000  84.879997
22  1614267000  84.980003   7184764  85.540001  85.220001  84.379997
23  1614270600  82.980003   8188043  85.019997  84.970001  82.889999
24  1614274200  83.120003   8975436  83.220001  82.950203  81.919998
25  1614277800  83.679901   5715015  83.731697  83.120003  82.540001
26  1614281400  82.269997   5568661  83.709999  83.669998  82.199997
27  1614285000  82.394997   5753650  82.970001  82.269997  81.919998
28  1614349800  83.000000  12429454  85.219200  83.565002  82.910004
29  1614353400  84.684998   7548466  85.160004  82.989998  82.980003
30  1614357000  85.290001   4897340  85.589996  84.699997  84.629997
31  1614360600  85.050003   4812721  85.570000  85.300003  84.339996
32  1614364200  84.345596   4388291  85.120003  85.059998  83.970001
33  1614367800  84.370003   4404485  85.209999  84.330002  84.250000
34  1614371400  84.510002   4716065  85.294998  84.389999  84.230003

In [7]:
basicStats = basic_stats(symbol)
basicStats

STATS <Response [200]>

{'Previous Close': '82.42',
 'Open': '83.57',
 'Bid': '84.30 x 900',
 'Ask': '84.42 x 800',
 "Day's Range": '82.91 - 85.59',
 '52 Week Range': '36.75 - 99.23',
 'Volume': '48,962,907',
 'Avg. Volume': '43,271,044',
 'Market Cap': '102.369B',
 'Beta (5Y Monthly)': '2.20',
 'PE Ratio (TTM)': '40.94',
 'EPS (TTM)': '2.06',
 'Earnings Date': 'Apr 26, 2021 - Apr 30, 2021',
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Ex-Dividend Date': 'Apr 27, 1995'}

In [8]:
extStats = extended_stock_stats(symbol)
extStats

{'Market Cap (intraday) 5': ['102.65B',
  '111.16B',
  '98.55B',
  '61.76B',
  '53.26B',
  '53.66B'],
 'Enterprise Value 3': ['100.89B',
  '109.97B',
  '97.67B',
  '61.08B',
  '52.48B',
  '53.56B'],
 'Trailing P/E ': ['41.14', '123.93', '157.67', '122.35', '151.60', '241.37'],
 'Forward P/E 1': ['44.44', '51.02', '49.26', '52.63', '39.84', '43.48'],
 'PEG Ratio (5 yr expected) 1': ['1.58',
  '1.13',
  '1.42',
  '1.55',
  '1.66',
  '1.55'],
 'Price/Sales (ttm)': ['10.48', '12.68', '12.67', '8.37', '7.57', '8.38'],
 'Price/Book (mrq)': ['17.59', '28.72', '29.82', '20.34', '18.84', '24.66'],
 'Enterprise Value/Revenue 3': ['10.33',
  '33.90',
  '34.87',
  '31.61',
  '29.39',
  '25.18'],
 'Enterprise Value/EBITDA 6': ['60.20',
  '167.63',
  '193.41',
  '238.59',
  '202.63',
  '180.94'],
 'Beta (5Y Monthly) ': '2.20',
 '52-Week Change 3': '73.66%',
 'S&P500 52-Week Change 3': '16.75%',
 '52 Week High 3': '99.23',
 '52 Week Low 3': '36.75',
 '50-Day Moving Average 3': '90.05',
 '200-Day Moving Average 3': '86.06',
 'Avg Vol (3 month) 3': '43.27M',
 'Avg Vol (10 day) 3': '39.86M',
 'Shares Outstanding 5': '1.21B',
 'Float ': '1.2B',
 '% Held by Insiders 1': '0.62%',
 '% Held by Institutions 1': '73.87%',
 'Shares Short (Feb 11, 2021) 4': '80.45M',
 'Short Ratio (Feb 11, 2021) 4': '1.68',
 'Short % of Float (Feb 11, 2021) 4': '6.68%',
 'Short % of Shares Outstanding (Feb 11, 2021) 4': '6.64%',
 'Shares Short (prior month Jan 14, 2021) 4': '71.35M',
 'Forward Annual Dividend Rate 4': 'N/A',
 'Forward Annual Dividend Yield 4': 'N/A',
 'Trailing Annual Dividend Rate 3': 'N/A',
 'Trailing Annual Dividend Yield 3': 'N/A',
 '5 Year Average Dividend Yield 4': 'N/A',
 'Payout Ratio 4': '0.00%',
 'Dividend Date 3': 'N/A',
 'Ex-Dividend Date 4': 'Apr 26, 1995',
 'Last Split Factor 2': '2:1',
 'Last Split Date 3': 'Aug 21, 2000',
 'Fiscal Year Ends ': 'Dec 25, 2020',
 'Most Recent Quarter (mrq)': 'Dec 25, 2020',
 'Profit Margin ': '25.50%',
 'Operating Margin (ttm)': '14.02%',
 'Return on Assets (ttm)': '11.42%',
 'Return on Equity (ttm)': '57.48%',
 'Revenue (ttm)': '9.76B',
 'Revenue Per Share (ttm)': '8.25',
 'Quarterly Revenue Growth (yoy)': '52.50%',
 'Gross Profit (ttm)': '4.35B',
 'EBITDA ': '1.68B',
 'Net Income Avi to Common (ttm)': '2.49B',
 'Diluted EPS (ttm)': '2.06',
 'Quarterly Earnings Growth (yoy)': '947.60%',
 'Total Cash (mrq)': '2.29B',
 'Total Cash Per Share (mrq)': '1.89',
 'Total Debt (mrq)': '572M',
 'Total Debt/Equity (mrq)': '9.80',
 'Current Ratio (mrq)': '2.54',
 'Book Value Per Share (mrq)': '4.82',
 'Operating Cash Flow (ttm)': '1.07B'}