In [8]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import json

In [41]:
stockData = requests.get("https://query1.finance.yahoo.com/v8/finance/chart/MCD?region=US&lang=en-US&includePrePost=false&interval=1d&useYfid=true&range=10y&corsDomain=finance.yahoo.com&.tsrc=finance")
stockJson = stockData.json()
stockResult = stockJson["chart"]["result"][0]
stockMetadata = stockResult["meta"]
stockPriceData = pd.DataFrame({"timestamp": stockResult["timestamp"]})
stockIndicators = pd.DataFrame(stockResult["indicators"]["quote"][0])
stockDataMerge = pd.concat([stockPriceData, stockIndicators], axis=1)
stockDataMerge

       timestamp        high   volume       close         low        open
0     1297693800   76.449997  4512800   76.239998   75.830002   76.070000
1     1297780200   76.339996  3823000   76.150002   75.800003   75.870003
2     1297866600   76.339996  4058200   76.019997   75.760002   76.279999
3     1297953000   76.129997  4338400   75.980003   75.699997   75.910004
4     1298039400   76.320000  5446900   76.129997   75.370003   76.080002
...          ...         ...      ...         ...         ...         ...
2512  1612794600  212.990005  2696200  211.580002  209.960007  212.529999
2513  1612881000  216.179993  3047300  215.979996  211.770004  212.070007
2514  1612967400  217.309998  3161600  214.399994  213.809998  216.880005
2515  1613053800  214.800003  2583300  214.270004  212.399994  214.539993
2516  1613140200  214.699997  2781200  213.899994  212.990005  214.000000

[2517 rows x 6 columns]